.header {
  text-align: center;
}
.input {
  text-align: center;
}

.todo {
  margin: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
